* {
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Ubuntu,
    sans-serif;
}

body {
  margin: 0;
  background-color: #f3f4f6; /* cinza claro */
  color: #111827;
}

input,
button {
  font-size: 14px;
}

button {
  cursor: pointer;
}

.toast {
  position: fixed;
  bottom: 24px;
  right: 24px;
  padding: 12px 16px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  animation: slideIn 0.3s ease;
  z-index: 9999;
}

.toast.success {
  background: #16a34a;
  color: #fff;
}

.toast.error {
  background: #dc2626;
  color: #fff;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
