* {
  box-sizing: border-box;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Ubuntu,
    sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  color: #e5e7eb;
  font-weight: 400;

  background-image:
    linear-gradient(rgba(2, 6, 23, 0.75), rgba(2, 6, 23, 0.85)),
    url("/src/assets/login-bg.mp4");

  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

input,
select,
textarea,
button {
  font-size: 14px;
}

/* ===== TOAST ===== */

.toast {
  position: fixed;
  bottom: 24px;
  right: 24px;
  padding: 12px 16px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  animation: slideIn 0.3s ease;
  z-index: 9999;
}

.toast.success {
  background: #22c55e;
  color: #022c22;
}

.toast.error {
  background: #dc2626;
  color: #fff;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===== VIDEO ===== */
.login-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* ===== OVERLAY PROFUNDO (LOGIN) ===== */
.auth-container::before {
  content: "";
  position: absolute;
  inset: 0;

  /* gradiente + escurecimento real */
  background: radial-gradient(
    circle at center,
    rgba(2, 6, 23, 0.692) 0%,
    rgba(2, 6, 23, 0.75) 55%,
    rgba(2, 6, 23, 0.92) 100%
  );

  z-index: 1;
}

/* ===== CARD SOBRE O VÍDEO (LOGIN) ===== */
.auth-card {
  position: relative;
  z-index: 2;

  background: rgba(2, 6, 23, 0.849);
  border-radius: 22px;
  padding: 32px;

  width: 100%;
  max-width: 420px;

  border: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(18px);

  box-shadow:
    0 25px 50px rgba(0, 0, 0, 0.65),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
}

.auth-label {
  font-size: 13px;
  color: #94a3b8;
}

.auth-input::placeholder {
  color: #cbd5f5;
  opacity: 0.9;
}

.auth-input:focus {
  outline: none;
  border-color: #22c55e;
  box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.4);
}

/* ===== SELECT DARK FIX ===== */
select.auth-input {
  background-color: rgba(255, 255, 255, 0.12);
  color: #e5e7eb;

  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 12px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding-right: 36px;
}

/* options */
select.auth-input option {
  background-color: #020617;
  color: #e5e7eb;
}

/* focus */
select.auth-input:focus {
  outline: none;
  border-color: #22c55e;
  box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.35);
}
